<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发起</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/publish.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.css"/>
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
</head>
<body>
<!--head-->
<div th:insert="~{head :: head}"></div>
<!--发布start-->
<div class="container-fluid publish">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h1><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h1>
            <hr>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）：</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="问题标题→→→→">
                </div>
                <div class="form-group">
                    <label for="description">问题补充（必填：请参照右侧提示）：</label>
                    <textarea name="description" id="description" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签：</label>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="输入标签,以‘，’隔开→→→→">
                </div>
                <div class="alert alert-danger"th:text="${error}" th:if="${error != null}" style="width: 30%;"></div>
                <button type="submit" class="btn btn-success btn-publish">发布</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>发起问题指南</h3>
            ★★★★★★★★★★★★★★★★★★
            ☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆
            ★★★★★★★★★★★★★★★★★★
            ☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆
        </div>
    </div>
</div>
<!--发布end-->
</body>
</html>